@model IEnumerable<PlateTimeApp.Models.PlateTime>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="text-center">
        <img src="~/images/rsz_1rsz_images.png" alt="user" class="img-rounded ">        
    </div>
    <h4 class="text-center text-primary">User</h4>
    <hr />
    <div class="col-md-4">
        <form asp-action="create">

            <div>
                <div>
                    <a asp-action="Edit" class="btn btn-warning btn-block btn-lg">User Bio</a>
                </div>

            </div>
            <h5>Active Posts</h5>


            <div class="panel panel-default">
                <div class="panel-body">

                    <table class="table">

                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                @if (item.Isopen != null)
                                {
                                    <td>
                                        @Html.DisplayNameFor(model => model.Time)     @Html.DisplayFor(modelItem => item.Time)
                                    </td>
                                    <td>
                                        @Html.DisplayNameFor(model => model.MaxMembers)   @Html.DisplayFor(modelItem => item.MaxMembers)
                                    </td>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Restaurant)   @Html.DisplayFor(modelItem => item.Restaurant.Name)
                                    </td>
                                    
                                    <td>
                                        @Html.DisplayNameFor(model => model.Isopen)  @Html.DisplayFor(modelItem => item.Isopen)
                                    </td>
                                   
                                   
                                }
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>